* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 100%;
  font-family: cursive;
  text-align: center;
  overflow-x: hidden;
}

.jokeContent {
  margin: 0 0 3rem 0;
}

.formGroup {
  padding: 0 0.5rem;
}

.averageRating {
  margin: 2rem 0;
  color: #fff;
}

.card-background {
  background-image: url(https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=3800&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
.crd-holder {
  position: relative;
  display: block;
}

.hover-joke {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 250px;
  background-color: transparent;
  backdrop-filter: blur(30px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 20px;
  opacity: 1;
  color: white;
  transition: all 500ms ease-out;
}

.hover-joke a {
  color: white;
}

.hover-joke:hover {
  animation-name: animatedCard;
  transition: all 100ms ease-in;
  width: 500px;
  height: 200px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.center-text {
  text-align: center;
}

@keyframes animatedCard {
  from {
    width: 0px;
  }
  to {
    width: 500px;
  }
}

/* Button css */
button:hover {
  cursor: pointer;
  color: white;
}
button {
  background: transparent;
  outline: none;
  position: relative;
  border: 2px solid #fff;
  padding: 12px;
  margin: 8px;
}

/*button:before (attr data-hover)*/
button:hover:before {
  opacity: 1;
  transform: translate(0, 0);
}
button:before {
  content: attr(data-hover);
  position: absolute;
  top: 1.1em;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;
}
/*button div (button text before hover)*/
button:hover div {
  opacity: 0;
  transform: translate(100%, 0);
}
button div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
  color: white;
}

a {
  position: absolute;
  bottom: 0;
}
